SPR1_series.png
SPR3_ratiointerval.png
SPR4_phase.png
SR_curve.png
SR_curve2.png
SR_resids.png
_SS_output.html
_SS_output_AgeComp.html
_SS_output_Bio.html
_SS_output_Catch.html
_SS_output_CompDat.html
_SS_output_Data.html
_SS_output_DiagnosticTables.html
_SS_output_Index.html
_SS_output_Numbers.html
_SS_output_Pars.html
_SS_output_RecDev.html
_SS_output_S-R.html
_SS_output_SPR.html
_SS_output_Sel.html
_SS_output_Timeseries.html
_SS_output_Yield.html
bio5_weightatsize.png
bio6_maturity.png
catch1 landings.png
catch10 landings aggregated across seasons.png
catch2 landings stacked.png
catch3 observed and expected landings (if different).png
catch9 harvest rate.png
comp_agedat__aggregated_across_time.png
comp_agedat__multi-fleet_comparison.png
comp_agedat_bubflt1mkt0_page6.png
comp_agedat_bubflt2mkt0.png
comp_agedat_bubflt3mkt0.png
comp_agedat_bubflt5mkt0.png
comp_agedat_data_weighting_TA1.8_ECOCADIZ.png
comp_agedat_data_weighting_TA1.8_ECORECLUTAS.png
comp_agedat_data_weighting_TA1.8_PELAGO.png
comp_agedat_data_weighting_TA1.8_SEINE.png
comp_agedat_flt1mkt0_page1.png
comp_agedat_flt1mkt0_page2.png
comp_agedat_flt1mkt0_page3.png
comp_agedat_flt1mkt0_page4.png
comp_agedat_flt1mkt0_page5.png
comp_agedat_flt1mkt0_page6.png
comp_agedat_flt2mkt0.png
comp_agedat_flt3mkt0.png
comp_agedat_flt5mkt0.png
comp_agefit__aggregated_across_time.png
comp_agefit__multi-fleet_comparison.png
comp_agefit_data_weighting_TA1.8_ECOCADIZ.png
comp_agefit_data_weighting_TA1.8_ECORECLUTAS.png
comp_agefit_data_weighting_TA1.8_PELAGO.png
comp_agefit_data_weighting_TA1.8_SEINE.png
comp_agefit_flt1mkt0_page1.png
comp_agefit_flt1mkt0_page2.png
comp_agefit_flt1mkt0_page3.png
comp_agefit_flt1mkt0_page4.png
comp_agefit_flt1mkt0_page5.png
comp_agefit_flt1mkt0_page6.png
comp_agefit_flt2mkt0.png
comp_agefit_flt3mkt0.png
comp_agefit_flt5mkt0.png
comp_agefit_residsflt1mkt0_page6.png
comp_agefit_residsflt2mkt0.png
comp_agefit_residsflt3mkt0.png
comp_agefit_residsflt5mkt0.png
comp_agefit_sampsize_flt1mkt0.png
comp_agefit_sampsize_flt2mkt0.png
comp_agefit_sampsize_flt3mkt0.png
comp_agefit_sampsize_flt5mkt0.png
correlationcheck.html
data_plot.png
data_plot2.png
index10_resids_SE_total_BOCADEVA.png
index10_resids_SE_total_ECOCADIZ.png
index10_resids_SE_total_ECORECLUTAS.png
index10_resids_SE_total_PELAGO.png
index12_resids_SE_total_BOCADEVA.png
index12_resids_SE_total_ECOCADIZ.png
index12_resids_SE_total_ECORECLUTAS.png
index12_resids_SE_total_PELAGO.png
index1_cpuedata_BOCADEVA.png
index1_cpuedata_ECOCADIZ.png
index1_cpuedata_ECORECLUTAS.png
index1_cpuedata_PELAGO.png
index2_cpuefit_BOCADEVA.png
index2_cpuefit_ECOCADIZ.png
index2_cpuefit_ECORECLUTAS.png
index2_cpuefit_PELAGO.png
index3_obs_vs_exp_BOCADEVA.png
index3_obs_vs_exp_ECOCADIZ.png
index3_obs_vs_exp_ECORECLUTAS.png
index3_obs_vs_exp_PELAGO.png
index4_logcpuedata_BOCADEVA.png
index4_logcpuedata_ECOCADIZ.png
index4_logcpuedata_ECORECLUTAS.png
index4_logcpuedata_PELAGO.png
index5_logcpuefit_BOCADEVA.png
index5_logcpuefit_ECOCADIZ.png
index5_logcpuefit_ECORECLUTAS.png
index5_logcpuefit_PELAGO.png
index6_log_obs_vs_exp_BOCADEVA.png
index6_log_obs_vs_exp_ECOCADIZ.png
index6_log_obs_vs_exp_ECORECLUTAS.png
index6_log_obs_vs_exp_PELAGO.png
index9_standcpueall.png
lowcorrelationcheck.html
numbers10_ageerror_matrix_1.png
numbers1_sex1_beg.png
numbers1_sex1_mid.png
numbers4_equilagecomp.png
numbers5_ageerrorSD.png
numbers6_len_sex1.png
parameter_distributions_page1.png
parameter_distributions_page2.png
parameterchecks.html
plotInfoTable_16-08-2024_10.52.43.5024.csv
plotInfoTable_16-08-2024_11.04.11.6801.csv
plotInfoTable_16-08-2024_14.37.46.9352.csv
recdevs1_points.png
recdevs2_withbars.png
recdevs3_varcheck.png
recruit_fit_bias_adjust.png
recruit_fit_bias_adjust.txt
recruit_fit_bias_adjust_caption.txt
recruit_fit_bias_adjust_convergence.txt
sel02_multiple_fleets_age1.png
sel02_multiple_fleets_age2.png
sel14_age_flt1sex1.png
sel14_age_flt3sex1.png
sel14_age_flt5sex1.png
ts11_Age-0_recruits_(1000s).png
ts11_Age-0_recruits_(1000s)_with_95_asymptotic_intervals.png
ts1_Total_biomass_(mt).png
ts3_Total_biomass_(mt)_at_beginning_of_season_1.png
ts4_Summary_biomass_(mt).png
ts6_Summary_biomass_(mt)_at_beginning_of_season_1.png
ts7_Spawning_output.png
ts7_Spawning_output_with_95_asymptotic_intervals_intervals.png
ts9_Relative_spawning_output.png
ts9_Relative_spawning_output_intervals.png
ts_DynamicB0.png
ts_summaryF.png
yield1_yield_curve.png
yield2_yield_curve_with_refpoints.png
yield3_surplus_production.png
yield4_YPR_timeseries.png
