Age_fit_Ecocadiz.png
Age_fit_EcocadizRecl.png
Age_fit_Pelago.png
Age_fit_Seine.png
Age_fit_agg.png
Age_residuals_Ecocadiz.png
Age_residuals_EcocadizRecl.png
Age_residuals_Pelago.png
Age_residuals_Seine.png
Biology.png
Indices_fit.png
Runtest_residuals_age.png
Runtest_residuals_indices.png
input_data.png
tables_run.RData
tb_cv_nm.png
tb_index.png
